.profilePage {
    max-width: 1440px;
    margin: 0 auto;
    display: grid;
    row-gap: 24px;
}

.profilePage--content {
    display: grid;
    align-items: center;
    justify-content: center;
    row-gap: 24px;
}