.admin-sidebar {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  box-sizing: border-box;

  border: 1px solid #dcdcdc;
  border-radius: 8px;
}

.admin-sidebar__logo {
  font-size: 28px;
  font-weight: 900;
}

.admin-sidebar__menu {
  display: flex;
  flex-direction: column;
  gap: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.admin-sidebar__item {
  cursor: pointer;
  line-height: 1.3;
}

.admin-sidebar__item--active {
  font-weight: 700;
}
