.banner_body__form{
	width: 100%;
  border: 2px solid var(--color-text);
  padding: 0 30px;
}
.banner_body__form tr{
	height: 200px;
}
.banner_body__form td {
	vertical-align: middle;
	text-align: center;
  height: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.banner_image__controls {
	vertical-align: middle;
}
.banner_image__controls label {
	display: flex;
	cursor: pointer;
	margin-bottom: 10px;
}

.banner_image__upload_btn,
.banner_image__delete_btn {
  width: 60px;
  height: 40px;
  font-size: 1rem;
	margin-left: 30px;
  background-color: transparent;
  border: 1px solid var(--btn-login-border);
  color: var(--btn-login-border);
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.banner_image__upload_btn:hover,
.banner_image__delete_btn:hover:not(:disabled) {
  background-color: var(--btn-login-hover);
}

.banner_number{
	font-size: 1.5rem;
	text-align: center;
	
}
.banner_image{
	margin-top: 30px;
	margin-left: 70px;
	width: 480px;
  max-height: 140px;
	line-height: 140px;
  overflow: hidden;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner_image__bannerimage {
  width: 100%;
	height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.no_image {
	align-items: center;
  justify-content: center;
  font-size: 1rem;
  color: var(--glow-strong);
}

/* .banner_image img {
  max-height: 100%;
  object-fit: contain;
	display: block;
} */

.banner_image__button {
	display: flex;
	align-items: center;
	flex-direction: column;
  justify-content: flex-end;
	gap: 10px;
}
.banner_image__button button {
	display: flex;
	flex-direction: column;
	justify-content: center;
  width: 40px;
  height: 30px;
  font-size: 1rem;
  border: 1px solid var(--btn-login-border);
  color: var(--btn-login-border);
  border-radius: 4px;
  transition: background-color 0.2s;

}

.banner_image__button button:hover {
  background-color: var(--btn-login-hover);
}
