
.registerBack{
	margin: 50px auto;
	width: 90%;
	max-width: 500px;
	height: auto;
	box-sizing: border-box;
}
/* 회원가입창 로고 */
.logo_Devim{
	cursor: pointer;
	font-size: 40px;
	font-weight: 700;
	background: none;
  border: none;
}
/* 로고에 숨겨진 텍스트 */
.logoHoverText {
  position: absolute;
	top: -10px; /* 로고 위에 숨겨놓기 */
  left: 50%;
  transform: translateX(-50%) translateY(25px);
  opacity: 0;
  font-size: 13px;
  color: #1d3ffe;
  transition: opacity 0.5s ease, transform 0.5s ease;
  pointer-events: none;
}
.logoWrapper {
  position: relative;
  display: inline-block;
}

/* 호버 시 나타남 */
.logoWrapper:hover .logoHoverText {
  opacity: 1;
  transform: translateX(-50%) translateY(0);
}

/*ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ*/


/*ㅡㅡ입력란ㅡㅡ*/
.userInfo{
	/* border: 2px dotted rgb(0, 0, 0); */
	margin-top: 20px;
	width: 100%;
	height: auto;
}

.userInfo input{
	width: 100%;
	height: 40px;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
}
/*ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ*/
/* 폰트어썸 */
.fa-solid {
	font-size: 25px;
  color: #000000;
  margin-right: 10px;
	margin-left: 10px;
}

.divSlotId {
 display: flex;
 align-items: center;
 /* border: 1px solid #a87300; */
 gap: 3px;
 margin-bottom: 10px;
}
.divSlotpw {
 display: flex;
 align-items: center;
 /* border: 1px solid #a87300; */
 margin-bottom: 10px;
}
.divSlotName {
 display: flex;
 align-items: center;
 /* border: 1px solid #a87300; */
 margin-bottom: 10px;
}
.divSlotBirth {
 display: flex;
 align-items: center;
 /* border: 1px solid #a87300; */
 margin-bottom: 10px;
}
.divSlotPhone {
 display: flex;
 align-items: center;
 /* border: 1px solid #a87300; */
 margin-bottom: 10px;
}
/*ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ*/

/*에러문구*/
.error {
  color: red;
  font-size: 13px;
  margin-top: 4px;
}
/*ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ*/

/* 성별 */
.formSection {
  display: flex;
  flex-direction: column;
}
/* 성별 폼 */
.genderForm {
	display: flex;
	flex-direction: row;
	align-self: center;
	flex: 1;
  color: #000000;
  border-radius: 5px;
  cursor: pointer;
	margin-top: 10px;
}
.gender button{
	width: 200px;
	height: 30px;
  flex-direction: column;
	align-items: center;
	border: 1px solid rgb(196, 196, 196);
	border-radius: 5px;
}
/* 성별 선택됬을때 */
.selected {
  background-color: #ffa550;
  color: white;
}

/*ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ*/
/* 버튼 스타일 */
.div_GenderForeigner button{
	border: 1px dotted black;
}
/*ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ*/

/*인증요청 버튼*/
.authenticationRequest{
	font-size: 20px;
	border: 1px solid black;
	border-radius: 10px;
	margin: 10px 0px;
	padding: 10px;
}
.authenticationRequest:hover{
	color: #ffffff;
	background-color: #007830;
	transition: background-color 0.3s ease, transform 0.2s ease;
}
/*ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ*/