
.loginContainer{
	margin: 50px auto;
	width: 90%;
	max-width: 500px;
	height: auto;
	box-sizing: border-box;
}

.loginBackGround{
	height: 100%;
	width:500px
}
/* 로그인 로고 */
.logo_Devim{
	cursor: pointer;
	font-size: 40px;
	font-weight: 700;
	background: none;
  border: none;
}
/* 로고에 숨겨진 텍스트 */
.logoHoverText {
  position: absolute;
	top: -10px; /* 로고 위에 숨겨놓기 */
  left: 50%;
  transform: translateX(-50%) translateY(25px);
  opacity: 0;
  font-size: 13px;
  color: #1d3ffe;
  transition: opacity 0.5s ease, transform 0.5s ease;
  pointer-events: none;
}
.logoWrapper {
  position: relative;
  display: inline-block;
}
/* 호버 시 나타남 */
.logoWrapper:hover .logoHoverText {
  opacity: 1;
  transform: translateX(-50%) translateY(0);
}


.inputWrapper.focused input {
  border-color: #2ecc71; /* 녹색 테두리 */
}
.inputWrapper label {
  position: absolute;
  top: 16px;
  left: 12px;
  font-size: 16px;
  color: #888;
  pointer-events: none;
  transition: all 0.2s ease;
}
.inputWrapper.focused label,
.inputWrapper input:not(:placeholder-shown) + label {
  top: 6px;
  left: 10px;
  font-size: 12px;
  color: #2ecc71;
}


/* 로그인방식 선택 */
.login_MenuType {
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
}
.login_MenuType button {
  flex: 1;
  padding: 10px;
  border: none;
  background: #eee;
  cursor: pointer;
	transition: background-color 0.3s ease, color 0.3s ease;
}
.login_MenuType button:hover {
  background-color: #a9c3eb;
  color: #000000;
}

.login_MenuType .active {
  background: #4fa3e4;
  color: white;
}
/*ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ*/
.loginForm{
	display: flex;
	flex-direction: column;
	margin-bottom: 10px;
}
.input_id{
	height: 50px;
	border-radius: 8px 8px 0 0;
}
.input_password{
	height: 50px;
	border-radius: 0px 0px 8px 8px;
}


/* 로그인버튼 */
.loginButton{
	font-size: 20px;
	width: 100%;
	height: 50px;
	background-color: #4fa3e4;
	color: white;
	border-radius: 10px;
	cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}
.loginButton:hover {
  background-color: #1263a6;
  transform: scale(1.02);
}
.loginButton.kakao {
  background-color: #fee500;
  color: #3c1e1e;
}
.loginButton.kakao:hover {
  background-color: #f7d600;
  transform: scale(1.02);
}


/* 비번, 회원가입 */
.loginOptions{
	margin-top: 15px;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}