.boardPage {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 0 24px; 
}

.boardPage__main {
  display: grid;
  grid-template-columns: minmax(0, 1fr) 320px;
  gap: 24px;
  padding: 24px 0; 
}

.boardPage__main__left > * + * { margin-top: 16px; }

@media (max-width: 980px) {
  .boardPage__main { grid-template-columns: 1fr; }
}
