.admin-page {
  width: 1440px;
  height: 1024px;
  margin: 0 auto;
  box-sizing: border-box;
}

.admin-page__grid {
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 20px;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.admin-page__sidebar {
  height: 100%;
}

/* 우측 칸 */
.admin-page__right {
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 20px;
  height: 100%;
}

.admin-page__main {
  border: 1px solid #e0e0e0;
  border-radius: 12px;
}
